
{% load crispy_forms_tags %}
{% block content %}


  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>Login</title>
  </head>

    <div  class="container" >
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" class="sign-in-form" method="POST" id="login-form">{% csrf_token %}
            <h2 class="title">Iniciar sesión</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Matricula" for="username_id" name="username" id="username_id" required />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" for="password_id" name="password" id="password_id" required/>
            </div>
            {% if form.errors %}
            <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Matricula o Contraseña invalidos
              .</span><br>
      {% endif %}
      <br>
      <a href="{% url 'password_reset' %}" class="link">Olvidaste tu Contraseña ?</a>
      
            <input type="submit" value="Iniciar Sesion" class="btn solid" />
            <p class="social-text">Siguenos en nuestras redes sociales</p>
            <div class="social-media">
              <a href="https://www.facebook.com/uptapachula.autorizado.1" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/UPTapachula" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
           
              <a href="https://www.instagram.com/uptapachula/?hl=es" class="social-icon">
                <i class="fab fa-instagram"></i>
              </a>
              
            </div>
          </form>
         
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
           
         
          </div>
          <img src="/static/img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
      
            <button class="btn transparent" type="submit" id="login-btn">
              Iniciar sesión
            </button>
          
          </div>
      
        </div>
      </div>
      
    </div>

    <script src="/static/js/login.js"></script>



    {% endblock content %}

    {% block js %}
    
    <script>
      $('#login-form').submit(function (e) {
        // e.preventDefault();
        $('#login-btn').addClass('disabled')
        $('#login-btn').html(`<i class="fas fa-sign-in-alt"></i> Signining you in . . .`)
      })
    
      $("#username").on("input", function () {
        username = $(this).val();
    
        $.ajax({
          url: "/accounts/ajax/validate-username/",
          data: {
            username: username
          },
          dataType: 'json',
          success: function (data) {
            if (data.is_taken) {
              console.log(data.is_taken);
              $('#message-wrapper').html(`<p class="my-2 text-danger"><span class="bg-error p-2"><b>${username}</b> already taken :( try another one </span></p>`)
            }
            else {
              $('#message-wrapper').html(`<p class="my-2 text-success"><span class="bg-correct p-2"><b>${username}</b> is valid </span></p>`)
            }
          }
    
        })
      })
    </script>
    {% endblock %}